<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hello I'm a boy</title>
	</head>

	<body>
		<nav>
			{{#each nav as |noov|}}
				<a href="/{{noov.link}}">{{noov.text}}</a>
			{{/each}}
		</nav>

		<p>I like playing with my toy</p>
		
		{{#each coolList}}
			<li>{{this}}</li>
		{{/each}}

		<p><strong>I'll fucking kill you</strong></p>

		<h4>Signup</h4>
		<form name="signup" action="/auth/signup" method="post">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="submit">
		</form>

		<h4>Login</h4>
		<form name="login" action="/auth/login" method="post">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="submit">
		</form>
	</body>
</html>