<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JOOOOOLIEN</title>
</head>
<body>
	<nav>
		{{#each nav}}
			<a href="/{{this.link}}">{{this.text}}</a>
		{{/each}}
	</nav>

	<p>AAAAAAAAA *WHEEZE* HAHAHAHAHAHAHAHAHA</p>
</body>
</html>